<p class="cardTitle"><strong>3 Days </strong><span>Forecast</span></p>
<div class="container">
  <div>
    <img src="assets/icons/rain.png" />
  </div>
  <div class="day">
    <p>Friday</p>
    <small>Rain</small>
  </div>
  <div class="temperature">
    <p>32° / 23°</p>
  </div>
</div>

<div class="container">
  <div>
    <img src="assets/icons/sun.png" />
  </div>
  <div class="day">
    <p>Saturday</p>
    <small>Clear</small>
  </div>
  <div class="temperature" style="background-color: #dfe7f4">
    <p style="color: black">34° / 24°</p>
  </div>
</div>

<div class="container">
  <div>
    <img src="assets/icons/clouds.png" />
  </div>
  <div class="day">
    <p>Sunday</p>
    <small>Cloudy</small>
  </div>
  <div class="temperature" style="background-color: #dfe7f4">
    <p style="color: black">31° / 23°</p>
  </div>
</div>
